body {
  letter-spacing: 3px;
  color: #47494c;
  background-color: #e4e4e4;
  font-size: 18px;
}

h1 {
  font-size: 100px;
  letter-spacing: 25px;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 60px;
  letter-spacing: 25px;
  text-align: center;
  color: #636566;
  margin-bottom: 2%;
}

h3 {
  letter-spacing: 8px;
  text-align: left;
  margin-bottom: 4%;
  font-size: 28px;
  color: #000000;
}

.stylists{
  text-align: center;
  margin-top: 5%;
}

.headers {
  font-size: 28px;
  letter-spacing: 8px;
  color: #000000;
}

button {
  letter-spacing: 1px;
  background-color: white;
  font-size: 14px;
  color: #000000;
}

.stylists-buttons {
  background-color: black;
  padding: 25px 35px 25px 35px;
  margin: 2% 2% 2% 2%;
  font-size: 32px;
  letter-spacing: 5px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  opacity: 0.7;
}

.stylists-buttons:hover {
  color: #bbbdbf;
}

label {
  font-weight: lighter;
  font-family: sans-serif;
  letter-spacing: 8px;
}

input {
  color: #000000;
  margin-bottom: 2%;
  padding-right: 30%;
}

.nav-link {
  color: #47494c;
}

.nav-link:hover {
  color: #898b8c;
}

.links {
  color: #898b8c;
  font-size: 16px;
}

.links:hover {
  color: #47494c;
}

.names {
  color: #ffffff;
}

.names:hover {
  color: #bbbdbf;
}

a:link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ol li {
  margin-bottom: 2%;
  letter-spacing: 4px;
  font-size: 22px;
}

.key {
  margin-bottom: 2%;
  letter-spacing: 4px;
  font-size: 22px;
}

.row {
  margin-bottom: 5%;
}

.delete {
  text-align: center;
  margin-top: 5%;
}
/*wells*/

.name-list {
  margin-left: 25%;
  margin-right: 25%;
  background-color: #000000;
  padding-left: 15%;
  color: #ffffff;
  opacity: 0.7;
}

.stylist-details, .stylist-key, .client-info, .new-stylist, .client-details, .edit-client, .edit-stylist {
  background-color: #000000;
  padding-left: 15%;
  color: #ffffff;
  opacity: 0.7;
}
