@{
  Layout = "_Layout";
}

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" href="/">home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/stylists/clients-all">all clients</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/stylists/new-client">add client</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/stylists/new-stylist">add stylist</a>
  </li>
</ul>

<h1>salon 206</h1>

<h2>new stylist</h2>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <h3>stylist info</h3>
    <div class="well new-stylist">
      <div class="form">
        <form action="/stylists/stylists-all" method="post">
          <label for="stylist-first-name">first name: </label>
          <input type="text" id="stylist-first-name" name="stylist-first-name">
          <br>
          <label for="stylist-last-name">last name: </label>
          <input type="text" id="stylist-last-name" name="stylist-last-name">
          <br>
          <label for="stylist-womens-cut">women's cut: $</label>
          <input type="number" id="stylist-womens-cut" name="stylist-womens-cut">
          <br>
          <label for="stylist-mens-cut">men's cut: $</label>
          <input type="number" id="stylist-mens-cut" name="stylist-mens-cut">
          <br>
          <button type="submit">add stylist</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
  </div>
