@{
  Layout = "_Layout";
}

<h1>Salon 206</h1>

<h2>All Clients</h2>
<ol>
  @foreach(var client in Model)
  {
    <li><a href="/stylists/@client.GetStylistId()/@client.GetStylist()-details/client-list/@client.GetId()details">@client.GetLastName(), @client.GetFirstName()</li>
  }
</ol>

<a href="/">Home</a>
<a href="/stylists/stylists-all">All stylists</a>
