@{
  Layout = "_Layout";
}

<h1>Salon 206</h1>

<h2>All Clients</h2>
<ul>
  @foreach(var client in Model)
  {
    <li><a href="/stylists/@client.GetStylistId()/@client.GetStylist()-details/client-list/@client.GetId()details">@client.GetLastName(), @client.GetFirstName()</li>
  }

  </ul>
