@{
  Layout = "_Layout";
}

<h1>Salon 206</h1>

<h2>All Stylists</h2>

<ul>
  @foreach (var stylist in Model)
  {
    <li><a href="/stylists/@stylist.GetId()/@stylist.GetFirstName()-details">@stylist.GetFirstName() @stylist.GetLastName()</a></li>
  }

  <a href="/stylists/add">Add a new stylist</a>

  <a href="/">Home</a>
