@{
  Layout = "_Layout";
}

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" href="/">home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/stylists/clients-all">all clients</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/stylists/new-client">add client</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/stylists/new-stylist">add stylist</a>
  </li>
</ul>

<h1>salon 206</h1>

<h2>client has been deleted</h2>
