@{
  Layout = "_Layout";
}

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" href="/">home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/stylists/clients-all">all clients</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/stylists/new-client">add client</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/stylists/new-stylist">add stylist</a>
  </li>
</ul>

<h1>salon 206</h1>

<h2>edit stylist details</h2>

<div class="row">
  <div class="col-md-5">
    <p><span class="headers">@Model.GetFirstName() @Model.GetLastName() | <a href="/stylists/@Model.GetId()/details"></span><span class="links">details</span></a></p>
    <div class="well stylist-details">
      <p>women's cut: $@Model.GetWomensCut()</p>
      <p>men's cut: $@Model.GetMensCut()</p>
    </div>
  </div>
 <div class="col-md-2">
  </div>
  <div class="col-md-5">
    <p><span class="headers">Edit @Model.GetFirstName() 's details</span></p>
    <div class="well edit-stylist">
      <div class="form">
        <form action="/stylists/@Model.GetId()/details/edit-first-name" method="post">
          <label for="stylist-first-name">first name: </label>
          <input type="text" id="stylist-first-name" name="stylist-first-name">
          <button type="submit">update</button>
        </form>
        <form action="/stylists/@Model.GetId()/details/edit-last-name" method="post">
          <label for="stylist-last-name">last name: </label>
          <input type="text" id="stylist-last-name" name="stylist-last-name">
          <button type="submit">update</button>
        </form>
        <form action="/stylists/@Model.GetId()/details/edit-womens-cut" method="post">
          <label for="stylist-womens-cut">women's cut: $</label>
          <input type="number" id="stylist-womens-cut" name="stylist-womens-cut">
          <button type="submit">update</button>
        </form>
        <form action="/stylists/@Model.GetId()/details/edit-mens-cut" method="post">
          <label for="stylist-mens-cut">men's cut: $</label>
          <input type="number" id="stylist-mens-cut" name="stylist-mens-cut">
          <button type="submit">update</button>
        </form>
      </div>
    </div>
  </div>
</div>

<p class="delete"><a href='/stylists/@Model.GetId()/details/delete'><span class="links">delete stylist</span></a></p>
