@{
  Layout = "_Layout";
}

<h1>Salon 206</h1>

<a href="/stylists/add">Add a new stylist</a>

<a href="/stylists/stylists-all">All stylists</a>

<a href="/stylists/clients-all">All clients</a>



@* <a href="">All clients</a>

<a href="">Add new client</a>  *@
