@{
  Layout = "_Layout";
}

<h1>Salon 206</h1>

<h2>Stylist Details</h2>

<h3>@Model.GetFirstName() @Model.GetLastName()</h3>
<p>Women's cut: $@Model.GetWomensCut()</p>
<p>Men's cut: $@Model.GetMensCut()</p>

@* <a href="/stylists/@Model.GetId()/@Model.GetFirstName()-details/edit">Edit @Model.GetFirstName() Details</a> *@
<a href="/stylists/@Model.GetId()/@Model.GetFirstName()-details/add-client">Add new client</a>
<a href="/">Home</a>
<a href="/stylists/stylists-all">All stylists</a>
